h3 {text-align : center;}
h4 {text-align : center;}
.mydiv{
    height: 450px;
    width: 50%;
    margin: auto;
    text-align : auto;
    
}
input[type=text] {
border: none;
outline:none;
border-bottom: 2px solid gray;
}
input[type=password] {
border: none;
outline:none;
border-bottom: 2px solid gray;
}
input[type=submit] {
background-color: rgb(0, 81, 255);
border: none;
color: white;
padding: 10px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: auto;

}