img{
    position: fixed;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background-size: cover;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}