{% extends "base.html" %}

{% block content %}

<h1> To Do List </h1>

        {% if orderList %}
	<ol>
		{% for doList in orderList %}
		<li><b> {{doList.goal}}</b> <blockquote> due at {{doList.due_date}} </li>
		{% endfor %}
	</ol>
	{% endif %}

<form action = "" method = "POST" novalidate>
	{{ form.hidden_tag() }}
	<p>
		{{form.goal.label}}
		{{form.goal(size=32)}}
	</p>
	<p>
		{{form.prio.label}}
		{{form.prio(size=32)}}

	</p>														        <p>														                {{form.due_date.label}}
		{{form.due_date(size=32)}}
	</p>														        <p>
		{{form.addG()}}												        </p>
</form>
{% endblock %}

